.DS_Store
.tern-port
.vagrant
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz
*.sublime-workspace

pids
logs
results
coverage.html
node_modules
npm-debug.log
old-test

*.pyc
docs

!test/lib/fixtures/master.tar.gz
test/fixtures/graphs/neo4j/conf/ssl/
test/fixtures/graphs/neo4j/data/graph.db/
test/fixtures/graphs/neo4j/data/keystore
test/fixtures/graphs/neo4j/data/rrd
dump.rdb

.idea
