.DS_Store
.tern-port
.vagrant
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz
*.sublime-workspace
*.sublime-project
*.vimrc

pids
logs
results
coverage.html
node_modules
npm-debug.log
old-test

*.pyc
docs

!test/lib/fixtures/master.tar.gz
dump.rdb

.idea
